.DS_Store
__pycache__/
venv/trained_models/pretrain_encoder_model
venv/trained_models/pretrain_decoder_model
venv/
notebooks/
trained_models/pretrain_decoder_model
trained_models/pretrain_encoder_model
